<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="container mt-3 jumbotron" style="display: flex; flex-direction: column">
    <%- include('../partials/form') %>
  </div>
</body>

</html>