html
  head
    include ../partials/head.pug
    body
      div(class="container mt-3 jumbotron")
        include ../partials/history.pug
        div(style="display: flex; justify-content: center; flex-direction: column; margin: 0 auto; width: 70%")
          a(href="/" class="btn btn-primary mb-5 ") Home
